.Article {
    flex: 1;
    font-size: 1.3rem;
}

.Article > :first-child {
    margin-top: 0;
    font-size: 3rem;
}

.Article > :last-child {
    margin-bottom: 3rem;
}

p {
    word-spacing: 0.2rem;
}
  