.Aside {
    margin-top: 0px;
    flex: 1;
}

@media only screen and (max-width: 1000px) {
    .Aside {
        display: none;
    }
}

.Aside > :nth-child(1) {
    margin-top: 0px;
}

aside > p {
    font-size: 1.3rem;
}

.h2 {
    margin-left: 1rem;
}

.h3 {
    margin-left: 2rem;
}
