.Footer {
    height: 15rem;
    padding: 0 25rem 0;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 200;
}

@media only screen and (max-width: 1600px) {
    .Footer {
        padding: 3rem 5rem 0;
    }
}
