.Header {  
    height: 85px;
    padding: 0 25rem;

    line-height: 85px;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
}

@media only screen and (max-width: 1600px) {
    .Header {
        padding: 0 5rem;
    }
}

.Header-logo {
    display: inline-block;
}

nav, ul, li  {
    float: right;
    margin: 0;
}

li {
    display: block;
    float: left;
    position: relative;
}

.Header-active {
    border-bottom: 4px solid #FF004A;
}

.Header-link:hover {
    border-bottom: 4px solid #000;
}

a {
    color: #000;
    text-decoration: none;
    padding: 0 0.5rem;
    text-underline-position: under;
}
