body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background: rgb(0,0,0);
  color: #fff;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  /* border: 0.1px solid red; */
  font-family: 'Open Sans', Arial, sans-serif;
}

* {
  /* border: 0.1px solid red; */
}