body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background: #fff;
  color: #000;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  padding-left: calc(100vw - 100%);
}

h1, h2, h3, h4, h5, h6 {
  /* border: 0.1px solid red; */
  font-family: 'Open Sans', Arial, sans-serif;
}

p, span, li {
  font-weight: 300;
  word-spacing: 0.2rem;
}

a {
  color: #000;
  text-decoration: none;
}

pre {
  background-color: #bbb;
  padding: 15px;
  border-radius: 1rem;
  border-radius: 5px;
}

* {
  /* border: 0.1px solid red; */
}
